<div class="cards-skill">

  <!-- Errores para ajustar
   * La tipografía de los h2 y los h3:
        - size: 38px aproximadamente
        - font-weight: bold
        - color: #242B33
   * La tipografia de los P:
        - size: 22px aproximandamente
        - color: #3E3E3E
   * Cambiar el título del segundo card a Back-end
   * Cambiar 'Java', 'C#' y 'PHP' a backend
   -->

  <div class="card-front">

 <div class="icon-front"></div>

    <div class="container-text">
      <h2> Front-end developer</h2>
      <p> I like to code things from scratch,and
        enjoy bringing ideas to life in the browser</p>
      <h3> Languages I speak:</h3>
      <p> Java, Dart, Kotlin, HTML, CSS,
           Python, Swift, PHP, C#</p>
      <h3>Technologies</h3>
      <p>Android</p>
      <p>WordPress</p>
      <p>Flutter</p>
      <p>IOS</p>
      <p>Angular</p>
      <p>Unity</p>

    </div>
  </div>

  <div class="card-back">
    <div class="icon-back">  </div>

   <div class="container-text">
     <h2> Front-end developer</h2>
     <p> I like to code things from scratch,and
       enjoy bringing ideas to life in the browser</p>
     <h3>Technologies</h3>
     <p>Spring</p>
     <p>Laravel</p>
     <p>SQL</p>
     <p>MYSQL</p>
     <p>Firebase</p>
   </div>

</div>


</div>
