<div class="cards-skill">

  <div class="card-front">

 <div class="icon-front"></div>

    <div class="container-text">
      <h2> FullStack developer</h2>

      <p> I like to code things from scratch,and
        enjoy bringing ideas to life in the browser</p>

      <h3> Languages I speak:</h3>

      <p> Java, Dart, Kotlin, HTML, CSS,
           Python, Swift, PHP, C#</p>

      <h3>Technologies</h3>

      <div class="icons-container">
        <div class="icon-angular ball"></div>
        <div class="icon-git ball"></div>
        <div class="icon-laravel ball"></div>
        <div class="icon-wordpress ball"></div>
        <div class="icon-android ball"></div>
        <div class="icon-ios ball"></div>
        <div class="icon-flutter ball"></div>
        <div class="icon-unity ball"></div>
        <div class="icon-spring ball"></div>
      </div>


    </div>
  </div>

  <div class="card-back">
    <div class="icon-back">  </div>

   <div class="container-text">
     <h2> Databases developer</h2>
     <p> I like to code things from scratch,and
       enjoy bringing ideas to life in the browser</p>

     <h3>Technologies</h3>
     <div class="icons-container">
       <div class="icon-firebase ball"></div>
       <div class="icon-mysql ball"></div>
       <div class="icon-oracle ball"></div>
       <div class="icon-sqlite ball"></div>

     </div>

   </div>

</div>


</div>
