<div class="cards-skill">

  <div class="card-front">

 <div class="icon-front"></div>

    <div class="container-text">

      <h2> Front-end developer</h2>
      <p> I like to code things from scratch,and
        enjoy bringing ideas to life in the browser</p>
      <h3> Languages I speak:</h3>
      <p> java,Dart,Kotlin,HTML,CSS,
          python, swift,PHP,C#</p>
      <h3>Technologies</h3>
      <p>Android</p>
      <p>WordPress</p>
      <p>Flutter</p>
      <p>IOS</p>
      <p>GIT</p>
      <p>Angular</p>
      <p>Unity</p>

    </div>
  </div>

  <div class="card-back">
    <div class="icon-back">  </div>

   <div class="container-text">
     <h2> Front-end developer</h2>
     <p> I like to code things from scratch,and
       enjoy bringing ideas to life in the browser</p>
     <h3>Technologies</h3>
     <p>Spring</p>
     <p>Laravel</p>
     <p>Flutter</p>
     <p>SQL</p>
     <p>Json</p>
     <p>XML</p>
     <p>MYSQL</p>
     <p>Firebase</p>
   </div>

</div>


</div>
