.title{
  text-align: center;
  font-family: 'Merienda One', cursive;
  color: var( --title-color );
  font-size: 1.5625em;
}

.description{
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  color: var( --simple-text-color );
  font-size: 1.1875em;
  font-weight: normal!important;
}

.work-cards{
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
}

.work-cards img{
  width: 22.5em;
  height: 14.5625em;
}
