.photo-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex: 1;
  padding-top: 5.625em;
}

.photo {
  width: 17.5em;
  height: 19.375em;
  background-image: url("../../../assets/img/foto-maria.png");
  background-size: contain;
  background-repeat: no-repeat;
}

.text-container {
  display: flex;
  position: absolute;
  height: 18.75em;
  text-align: center;
  flex-direction: column;
  align-items: center;
  max-width: 50em;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
}

h1.my-name {
  font-family: 'Merienda One', cursive;
  font-size: 1.875em;
  color: var( --title-color );
  text-shadow: 0 0.1875em 0.375em rgba(0, 0, 0, 0.16);
}

p.about-me-text {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.1875em;
  color: var( --simple-text-color );
}

.background-photo {
  display: flex;
  width: 100%;
  max-width: 62.5em;
  height: 34.375em;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  background-image: url("../../../assets/img/background-photo.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.white-space {
  width: 100%;
  height: 18.75em;
}

.white-space-two {
  width: 100%;
  height: 0.5em;
}
