.contact-container{
display: flex;
flex-direction: row;
}


.text-get-in-touch{
  width: 50%;
  max-width: 31.25em;
  margin: 0 auto;
  padding-top: 9.375em;
  background-image: url("../../../assets/img/imagen_fondo_formulario.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.about-you{
  width: 50%;
  max-width: 34.375em;
  margin: 0 auto;
}

h2.get-in-touch{
  font-family: 'Merienda One', cursive;
  font-weight: normal;
  text-align: center;
  font-size: 1.875em;
  margin-bottom: 2.5em;
}


h2.text-about-you{
  font-family: 'Merienda One', cursive;
  font-weight: normal;
  font-size: 1.25em;
  margin-bottom: 1.875em;
}

input, textarea{
  width: 100%;
  border-radius: 0.375em;
  font-size: 1.0625em;
  padding: 0.5em;
  border-color: var(--title-color);
  border-width: 0.025em;
}

input, textarea:focus{
  outline: none;
}

textarea{
  min-width: 34.375em;
  min-height: 9.375em;
  max-width: 34.375em;
}

p.text-email{
  font-family: "Open Sans",sans-serif;
  font-size: 1.0625em;
  color: var(--simple-text-color);
}
.send-botton{
  width: 8.125em;
  background: var(--title-color);
  color: white;
  margin: 1.5625em 0;
}

.input-invalid {
  border-color: red;
  transition: border-color 1s ease;
}

.danger-text {
  font-family: 'Open Sans', sans-serif;
  color: red;
  font-size: 1em;
  margin: 0.5em 0;
}
