<app-nav-bar></app-nav-bar>
<div id="about-me" class="container navbar-spacing-with-padding">

  <app-about-component></app-about-component>

  <div class="skill-component-top-spacing">
    <app-skills-component></app-skills-component>
  </div>

  <div class="my-works-component-spacing" id="my-works">
    <app-myworks-component ></app-myworks-component>
  </div>

    <div class="space-between-works-and-contact ">
      <app-contact-component id="contact"></app-contact-component>

    </div>
</div>

<app-footer-component id="footer"></app-footer-component>
