<div class="contact-container">

  <div class="text-get-in-touch">
    <h2 class="get-in-touch">Get in touch</h2>
    <p class="text-email">If you wanna get in touch, talk to me about a project collaboration or just say hi, fill up the awesome form below or send an email to mariaom.jobs@gmail.com
      and ~let's talk.</p>
    <div class="image-background"></div>
  </div>

<div class="about-you">

  <h2 class="text-about-you">About you</h2>

  <form>
    <p>Name</p>
    <input type="text" placeholder="enter your name">
    <p>Email</p>
    <input type="email" placeholder="enter your email">
    <p>Phone</p>
    <input type="tel" placeholder="enter your phone">
    <p>Message</p>
    <textarea></textarea>
    <input type="submit" value="Send" class="send-botton">
   </form>

</div>

</div>

