<div class="principal-continer">

  <div class="black-container">
    <img src="../../assets/img/Trazado_4.svg" alt="Blink" class="black">
  </div>

  <div class="text-container">
    <p class="title">- Hi, I'm María Ortega</p>
    <p class="description">I'm mainly a web developer knowing the latest trends and constantly looking forward to learn. I define myself as an ambitious, perfectionist person, I like to polish every
      detail in everything I do.
      <br><br>
      I'm currently studying but almost everything
      I've learned has been in a self-tought way.</p>
  </div>

  <div class="photo-continer">
    <div class="blank-space"></div>
    <div class="image"></div>
  </div>

</div>
