<nav>

  <div class="container row">

    <div class=" logo-container">
      <a href="/" class="name">María</a>
    </div>

    <!-- Nota: Faltaría el del formulario tanto en el typescript como en el html -->
    <div class="nav-options">
      <a (click)="goAbout()" class="option" [routerLink]="['about_me']" routerLinkActive="active">About me</a>
      <a (click)="goMyWorks()"  class="option" [routerLink]="['my_works']" routerLinkActive="active">Projects</a>
      <a class="option" href="#">Contact</a>
    </div>
  </div>
</nav>
