/* You can add global styles to this file, and also import other style files */
@import "~normalize.css";

html{
  font-family: 'Roboto', sans-serif;
}

.container{
  max-width: 1600px;
  width: 90%;
  margin: 0 auto;
}

.container.with-padding {
  padding: 20px;
}

.container.navbar-spacing {
  padding-top: 65px;
}

.container.navbar-spacing-with-padding {
  padding-top: 85px;
}

.container.row {
  display: flex;
  flex-direction: row;
}
