.cards-skill {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 62.5em;
  margin: 0 auto;
}

.card-front, .card-back {
  background-color: white;
  width: 15.625em;
  padding: 2.625em;
  box-shadow: 0 0.25em 0.5em 0 rgba(0,0,0,0.2);
  border-radius: 0.3125em;
  transition: 0.3s;
  z-index:1;
}

.card-front:hover, .card-back:hover {
  box-shadow: 0 0.5em 1em 0 rgba(0,0,0,0.2);
}

.icon-front {
  width:100%;
  height: 7.5em;
  background-image: url("../../../assets/img/Icon metro-mobile.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.icon-back{
  width:100%;
  height: 7.5em;
  background-image: url("../../../assets/img/Icon awesome-server.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

}

.container-text{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container-text h2,h3{
  font-size: 1.25em;
  font-weight: bold;
  color: var( --title-color );
  font-family: 'Merienda One', cursive;
}

.container-text p{
  size: 1.0625em;
  color: var( --simple-text-color );
  font-family: 'Open Sans', sans-serif;
}

.icons-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: 100%;
  max-width: 12.8125em;
  margin: 0 auto;
}

.ball{
  width: 2.1875em;
  height: 2.1875em;
  border-radius: 100%;
  margin-bottom: 0.5em;
  background: var( --balls-color );
}

.icon-angular {
  background-image: url("../../../assets/img-icon/Icon awesome-angular.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-git {
  background-image: url("../../../assets/img-icon/Icon awesome-git-alt.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-laravel {
  background-image: url("../../../assets/img-icon/Icon awesome-laravel.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-wordpress {
  background-image: url("../../../assets/img-icon/Icon awesome-wordpress-simple.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-android {
  background-image: url("../../../assets/img-icon/Icon ionic-logo-android.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-ios {
  background-image: url("../../../assets/img-icon/Icon iOS.svg");
  background-size: 90%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-flutter {
  background-image: url("../../../assets/img-icon/Icon simple-flutter.svg");
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-unity {
  background-image: url("../../../assets/img-icon/Icon simple-unity.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-spring {
  background-image: url("../../../assets/img-icon/springio-icon.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-mysql{
  background-image: url("../../../assets/img-icon/Icon simple-mysql.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}


.icon-oracle{
  background-image: url("../../../assets/img-icon/Icon simple-oracle.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-firebase{
  background-image: url("../../../assets/img-icon/Icon simple-firebase.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.icon-sqlite{
  background-image: url("../../../assets/img-icon/Icon Sqlite.svg");
  background-size: 60%;
  background-position: center;
  background-repeat: no-repeat;
}
